
# -----配置中没有写库的名字，这样更加灵活----- #

[notdbMysql]
# host = 47.92.6.187
host = 192.168.1.137
port = 3306
user = root
password = python123


# -----全日志路径----- #

[log]
logpath = /opt/code/my_code/myTornadoWhoosh/
logname = aaa.log


# -----索引文件路径,注意要有----- #

[indexFilePath]
filepath = /opt/code/my_code/myTornadoWhoosh/indexdir



# -----验证tokenid和userid是否正确----- #

[isToken]
before_url= http://192.168.1.141:57511/api/Login/ExistsLogin